.control-menu {
  text-align: right;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1.5rem;

  .title {
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .status-box {
    display: inline-block;
    margin-right: 1.3rem;
    font-weight: 700;
    color: rgb(146, 175, 146);
  }
}
